* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root
{
    --hoverColor: #8fc94d;
}

html, body
{
    overflow: hidden;
}

#mainCanvas
{
    background-color: #e7e7e7;
}

section
{
    position: relative;
}

.save
{
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;

    width: 2.6rem;
    height: 2.5rem;
    border: 0px;
    box-shadow: 2px 2px 0px  rgba(0, 0, 0, 0.055);
    background-color: white;
    border-radius: 4px;
}

.save i 
{
    font-size: 1.4rem;
    transition: .4s;
}

.save i:hover
{
    color: var(--hoverColor);
}

.tools
{
    position: fixed;
    bottom: 1.5rem;
    left: 35rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: .2rem;
}

.tools li
{
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 0px  rgba(0, 0, 0, 0.055);
    align-items: center;
    justify-content: center;
    display: flex;

}

.tools li i
{
    font-size: 1.7rem;
    transition: .4s;
}

.tools li i:hover
{
    color: var(--hoverColor);
}

.tools li:last-child
{
    width: auto;
    padding: 4px;
    gap: .5rem;
}

.tools li:last-child input
{
    width: 6rem;
}

.tools li:last-child output
{
    font-family: cursive;
    font-weight: 500;
}

.widSlid
{
    width: 50%;
}

.name
{
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: white;
    padding: .5rem;
    border-radius: 4px;
    box-shadow: 2px 2px 0px  rgba(0, 0, 0, 0.055);
    font-family: cursive;
    font-weight: 500;
    transition: .4s;
    user-select: none;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.name:hover
{
    color: var(--hoverColor);
}

/* Input */
#colorPicker
{
    width: 1.8rem;
    height: 1.7rem;
    border: none;
    padding: 0;
    margin: 0;

}

input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    padding: 0;
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
}
  
